<div class="panel-title">
  <div class="panel-body">
    <form>
      <input ng-model="order.user_name" class="form-control" placeholder="username" type="text">
      <input ng-model="order.sex" class="form-control" placeholder="phone" type="text">
      <input ng-model="order.phone" class="form-control" placeholder="phone" type="text">
      <input ng-model="order.addr" class="form-control" placeholder="phone" type="text">
      <input type="button" value="提交订单" ng-click="submitOrder()">
    </form>
  </div>
</div>